* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url(forest.jpg);
    background-attachment: fixed;
    background-size: cover;
}

nav {
    padding: 15px 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

nav>a:hover, a.blue:hover {
    color: blue;
}

.flash {
    color: white;
    height: 50px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

main {
    background-color: white;
    color: black;
    margin: 0px 80px 80px 80px;
    height: min-content;
    text-align: center;
    padding: 15px;
}

main table {
    width: 100%;
    align-items: center;
}

td {
    padding: 15px;
    height: max-content;
}

img.show-good {
    width: 150px;
}

input[type='text'], input[type='password'] {
    line-height: 20px;
    margin: 10px;
}

button[type='submit'] {
    color: white;
    background-color: blue;
    border: none;
    padding: 5px 10px;
}

button[type='submit']:hover {
    font-weight: bold;
}

h2 {
    margin-bottom: 15px;
}